body {
  background-image: radial-gradient(circle at top right, #02AAF1 0, #288CF8 40%, #0052FF 90%);
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  padding-top: 5rem;
  padding-bottom: 10rem;
}

h4 {
  color: #02AAF1;
  text-transform: uppercase;
}

h5 {
  font-weight: bold;
  text-transform: uppercase;
}

section {
  margin-bottom: 3rem;
}

.main {
  background-color: #FFF;
  padding: 3rem;
  box-shadow: -30px 60px 60px 0px rgba(0, 0, 0, 0.2);
}

/* Contact */
.contact-top {
  margin-top: -2.5rem;
  margin-bottom: 2.5rem;
}

.contact-bottom {
  margin-top: 4rem;
  margin-bottom: -4rem;
}

.contact-top, .contact-bottom {
  text-align: center;
}

.contact-top img, .contact-bottom img {
  width: 36px;
  height: 36px;
  margin-left: .4rem;
  margin-right: .4rem;
}

/* Header */
header {
  text-align: right;
}

header h1 {
  font-size: 3.5rem;
}

.headshot {
  background-image: url(../images/johngully.png);
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid #02AAF1;
  border-radius: 100%;
  height: 120px;
  width: 120px;
  min-height: 120px;
  min-width: 120px;
  margin-left: 30px;
}

/* Capabilities */
.capability, .capability-leadership, .capability-design, .capability-technology {
  margin-bottom: 2rem;
}

.capability-leadership .skill div:last-child {
  background-color: #F8E400;
}

.capability-design .skill div:last-child {
  background-color: #F8008A;
}

.capability-technology .skill div:last-child {
  background-color: #02AAF1;
}

.skill {
  margin-bottom: .75rem;
  vertical-align: middle;
}

.bar-name {
  text-transform: uppercase;
}

.bar-0, .bar-20, .bar-40, .bar-60, .bar-80, .bar-100 {
  height: 1.5rem;
}

.bar-0   { background: linear-gradient(to right, transparent 0%, #CCC 0%); background-clip: content-box; }
.bar-20  { background: linear-gradient(to right, transparent 20%, #CCC 20%); background-clip: content-box; }
.bar-40  { background: linear-gradient(to right, transparent 40%, #CCC 40%); background-clip: content-box; }
.bar-60  { background: linear-gradient(to right, transparent 60%, #CCC 60%); background-clip: content-box; }
.bar-80  { background: linear-gradient(to right, transparent 80%, #CCC 80%); background-clip: content-box; }
.bar-100 { background: linear-gradient(to right, transparent 100%, #CCC 100%); background-clip: content-box; }
